.container{
    display:flex;
    flex-direction: column;
    margin : 10% auto; 
    width:fit-content;
    width: 60vh;
    /* border : var(--primary);   */
}
body{
    font-family: 'Montserrat', sans-serif;
     background-color: var(--primary); 
    color: var(--secoundary);
}
:root{
      /* --primary:#293241 ;   */
      /* --primary:rgb(46, 39, 39) ;  */
      --secoundary:rgb(27, 23, 23) ; 
    /* --secoundary:#68ceaf;  */
    /* --secoundary:pink; */
    --primary:rgb(217, 231, 10);
    --tertiary:white;
}

.bold{
    font-weight: bold;
}

.header{
    font-size: 2.2rem;

}

.description{
    font-size: 1.1rem;
    
}

button{
    background-color: var(--secoundary);
    padding: 8px;
    margin: 5%;
    border: 1px solid var(--secoundary);
    border-radius: 6px;
   font-size: 15px;
   color:var(--tertiary);
}
.bill-amount-label,.cash-given-label{
    font-size:25px;

}


.bill-amount,.cash-given{
    padding : 8px;
    border-radius: 8px;
    border : 1px solid  var(--primary);
   
} 

.return-change{
    font-size: 1.2rem;
    font-weight: 900;
    
}
.notes-table{
    border : 3px solid rgb(22, 68, 0);
    background-color: rgb(205, 219, 5);
    color: black;
}
td{
    border : 2px solid black;
    width : 3rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    
}
th{
    border : 2px solid black;
    width : 5rem;
    height: 2.5rem;
    font-weight: bold;
}
.item-link{
    list-style-type: none;
    
    }
    .foot{
        width: fit-content;
        margin : 8% auto;
        text-align: center;
    }
    .initem{
    display: inline;
    
    font-size: 25px;
    }
    .item{
        color: var(--secoundary);
        padding:10px;
    }
    .made-stmt{
        color:var(--secoundary);
        padding:  0px 10px 10px 10px;
        text-align: center;
    }
    .gmail-phone{
        color:var(--primary);
        font-size: 0px;
      }
    
      
    
      @media screen and (max-width : 600px)
      {
        .gmail-laptop{
            display: none;
            padding: 0px;
        }
        
        .gmail-phone{
            font-size: 25px;
            color:var(--secoundary);
            padding: 2px;
        }
        .foot{
        margin-top:35%;
        }
       .item-link{
           margin-left: -20%;
       }
        .container{
          margin-top: 20%;
    
        }
    
      }